@charset "UTF-8";

h1 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 200px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-bottom: 1px;
    margin-top: 1px;
    }


h6 {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
    margin-top: 1px;
    }


p { 
    color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 26px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-justify: inter-word; 
    margin-top: 30px;
    }

body {
    background-color: #F0E68C;
    }
    
    .button-52 {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 20px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-52:after {
      content: "";
      background-color: #D6C41C;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
    }
    
    .button-52:hover:after {
      top: 0px;
      left: 0px;
    }
    
    @media (min-width: 768px) {
      .button-52 {
        padding: 13px 50px 13px;
      }
    }

    div#buttonDiv {
        text-align:center;
    }

  